<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/shortcut_icon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/Css/Header_Footer.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <style>
        .con{
            text-align: start;
        }
        body {
          /* background-image: url("../image/AM_background.jpg"); */
          /* width: 100%; */
          /* height: 100%; */
          position: relative;
          height: 100%;
        }
        .Background {
          width: 100%;
          height: 100%;
          background-repeat: repeat-y;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }
    </style>
</head>
<body>
    <img src="/images/back.jpg" alt="WRONG" class="Background">
    <header id="header">
      
        <nav class="sticky-nav">
          <ul>
            <li><a href="/views/index.ejs">主頁<i class="fa-solid fa-house"></i></a></li>
            <li><a href="/views/cloth1.ejs">買家中心<i class="fa-brands fa-shopify"></i></a></li>          
            <li><a href="/views/aboutMe.ejs">關於我們<i class="fa-solid fa-users"></i></i></a></li>
            <img src="/images/shortcut_icon.webp"  alt="WRONG" id="icon">
          </ul>
        </nav>
    </header>

    <div class="con">
        <h1 style="position: relative;padding-left:10%;padding-top: 2%;">
            網頁創建者
        </h1>
        <p style="position: relative;padding-left: 13%;">
            聯絡資訊:
            陳振洲
            A111221043
            就讀世新資管二甲
            mail:A111221043@mail.shu.edu.tw</p>
            
            
        <p style="position: relative;padding-left: 15%;">我叫陳振洲  
            是6/11的雙子男，來自世新大學
            平常沒事，我喜歡喝著咖啡，看看小說、
            玩玩遊戲或者在學校附近晃晃，
            不過我更喜歡與同學朋友間相處的當下</p>
        <p style="position: relative;padding-left: 13%;">
            聯絡資訊:
            資管二乙 A111221006 郭旻憲
            mail：A111221006@mail.shu.edu.tw</p>
            
        <p style="position: relative;padding-left: 15%;">我叫郭旻憲。從小我就對故事充滿著無窮的好奇心，這讓我對看小說產生了深厚的興趣。
            不論是懸疑驚悚、奇幻冒險還是浪漫愛情，每一種小說都能讓我沉浸在它們獨特的世界觀中，
            體驗不同的人生與情感。除此之外，我還熱愛玩遊戲。我認為遊戲不僅是娛樂的方式，更是一種藝術表達和創意的展現。
            在我的空閒時間，我經常會探索新的小說或遊戲，這讓我的生活充滿了樂趣和新鮮感。</p>
        <p style="position: relative;padding-left: 13%;">
           聯絡資訊:
           資科二甲 A110222006 鄭媁庭
           mail:A110222006@mail.shu.edu.tw</p>
    
           <p style="position: relative;padding-left: 15%;">我叫鄭媁庭有個綽號叫企鵝，是1/25出生的水瓶女，平常的興趣是唱歌、聽音樂、玩遊戲、組樂團，高中跟大學都是
           樂團主唱，從小的時候就很喜歡表演、唱歌，四五歲時參加過民視兒童歌唱比賽得過第二名，學過一點鋼琴跟吉他，
           高中加入熱音社後接觸到了金屬搖滾，於是也有出去外面學金屬唱腔，對我來說音樂是我重要的舒壓來源也是靈感來源，
           同時也是個外向喜歡交友的人，最近考到了新光的保險業務員證照，有保險、投資和外幣相關諮詢也可以問我唷。
        </p>
    </div>
    
        
    
    <footer style="position: relative; top: 200px;">
        <ul class="footer_li">
          <li class="footer_item"><h4>關於我們</h4></li>
          <li class="footer_item"><a href="/views/center.ejs">客服中心</li>
          <li class="footer_item"><a href="/views/question.ejs">常見問題</a></li>
          <li class="footer_item"><a href="/views/pps.ejs">人物介紹</a></li>
        </ul>
        
        <ul class="footer_list">
          <li class="footer_item"><h4>會員中心</h4></li>
          <li class="footer_item">購物流程</li>
          <li class="footer_item">訂單查詢</li>
          <li class="footer_item">退貨及退款</li>
        </ul>
  
      <address><h3>服務專線：02-22222222        
        <br>服務時間：禮拜一至五
        <br>12:00~21:00</h3></address>
    </footer>
</body>
</html>